header {
    position:fixed;
    width: 100%;
    padding: 50px 20px;
    z-index: 100;
}
.headerGroup {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;

}

header a {
    color: white;
    font-weight: 700;
}

button {
    cursor: pointer;
}
header button {
    padding: 8px 20px;
    font-size: 1em;
    background: #0070f3;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

header button:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
}

@media (max-width: 640px) {
    .headerGroup {
        grid-template-columns: repeat(4, auto);
    }
    header a:nth-child(4) {
        display: none;
    }
}
    